/**************** ROOT ************/
:root {
    --primary-color: #4356ff;
}


/************** UTILITIES *************/
.flex-center {
    justify-content: center;
    align-items: center;
}

.container-fluid {
    height: 90%;
}

/******** BACKGROUND ********/
.bgimage {
    background-image: url(../img/background-image.jpg);
    background-size: cover;
}

/********** UPPER **********/
.upper {
    background-color: #ffffffb4;
}

label {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25rem;
}

.main-title {
    color: var(--primary-color);
}

.btn {
    background-color: var(--primary-color);
    color: white;
}

.btn:hover {
    background-color: var(--primary-color);
    color: white;
}

input[type=text],
input[type=number] {
    border: 1px solid var(--primary-color);
    line-height: 0;
}

input[type=text]:focus-visible,
input[type=number]:focus-visible {
    outline: none;
}

#ageRange {
    border: 1px solid var(--primary-color);
}

#ageRange:focus-visible {
    outline: none;
}

/************** BOTTOM ***********/

.hidden {
    display: none;
}

.ticket-title {
    color: var(--primary-color);
}

.ticket-section {
    background-color: #ffffffb4;
}

.ticket-name {
    background-color: #717bd6;
}

.bdr {
    border-bottom: 1px solid #717bd6;
    border-top: 1px solid #717bd6;
}